/* ---------Generic Selector---------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--Bm-FontPoppins);
}

/* #region-------Utility Selector--------  */

:root {
    --Bm-gray: #6a757e;
    --Bm-Lightgray: #4a4a4a;
    --Bm-fluo-green: #4bc800;
    --Bm-fluo-green: #222222;
    --Bm-Totalwhite: #ffffff;
    --Bm-TotalBlack: #000000;
    --Bm-FontLivvic: 'Livvic', sans-serif;
    --Bm-FontPoppins: 'Poppins', sans-serif;
    
}

.container {
    margin: auto;
    width: 70%;
}

/* #endregion-------Utility Selector--------  */



/* -------Main Selector--------  */

.main_viewport 
{
    background-color: var(--Bm-TotalBlack);
    height: 100vh;
    position: relative;

}
